.uniqueness__title {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -0.03em;
    padding-left: 100px;
    margin: 0;
    color: #434343;
}

@media screen and (max-width: 1580px) {
    .uniqueness__title {
        padding: 0 60px;
    }
}

@media screen and (max-width: 767px) {
    .uniqueness__title {
        font-size: 20px;
        padding: 0;
        width: 100%;
        line-height: 1.2em;
        width: 250px;
    }
}