.element__booking-button {
    width: 250px;
    height: 40px;
    background-color: rgba(213, 0, 50, 1);
    border-radius: 33px;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 50px;
    border: none;

    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.element__booking-button:hover {
    opacity: .5;
    background-color: white;
    color: black;
}

@media screen and (max-width: 767px) {
    .element__booking-button {
        margin-left: 10px;
        width: 150px;
        height: 30px;
        font-size: 12px;
        line-height: 16px;
    }
}