.element__booking-button {
    width: 250px;
    height: 40px;
    border: 2px solid #FFFFFF;
    border-radius: 33px;
    box-sizing: border-box;
    cursor: pointer;
    background: linear-gradient(90deg, #000000 -12.93%, rgba(0, 0, 0, 0) 43.41%);
    margin-left: 50px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}