.uniqueness__cards-right {
    width: 910px;
    height: 900px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .uniqueness__cards-right {
        width: 370px;
        height: 600px;
    }
}