.uniqueness__cards-right {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .uniqueness__cards-right {
        width: 900px;
    }
}

@media screen and (max-width: 1024px) {
    .uniqueness__cards-right {
        width: 800px;
    }
}

@media screen and (max-width: 767px) {
    .uniqueness__cards-right {
        width: 95%;
        height: 500px;
        margin: 0;
    }
}