.uniqueness__cards-left {
    width: 910px;
    height: 900px;
    background-image: url(../../../images/Lobby.png);
    background-size: 910px 900px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width: 767px) {
    .uniqueness__cards-left {
        width: 370px;
        height: 370px;
        background-size: 370px 370px;
    }
}