.uniqueness__cards-right {
    width: 910px;
    height: 900px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .uniqueness__cards-right {
        margin-top: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .uniqueness__cards-right {
        width: 700px;
        margin-top: 150px;
    }
}

@media screen and (max-width: 767px) {
    .uniqueness__cards-right {
        width: 370px;
        height: 600px;
        margin: 0;
    }
}