.uniqueness__cards-left {
    width: 900px;
    height: 900px;
    margin: 0;
}

@media screen and (max-width: 1280px) {
    .uniqueness__cards-left {
        width: 700px;
        height: 700px;
    }
}


@media screen and (max-width: 1024px) {
    .uniqueness__cards-left {
        width: 550px;
        height: 550px;
    }
}

@media screen and (max-width: 767px) {
    .uniqueness__cards-left {
        width: 100%;
        height: 100%;
    }
}