.druzhba__block {
    background-image: url(../../../images/druzhba-img.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 940px;
}

@media screen and (max-width: 767px) {
    .druzhba__block {
        display: none;
    }
}