.contacts__block_right-title {
    font-size: 20px;
    line-height: 90%;
    text-align: right;
    letter-spacing: -0.03em;
    margin: 15px 0;
    color: #636363;
}

@media screen and (max-width: 1280px) {
    .contacts__block_right-title {
        font-size: 16px;
        line-height: 90%;
    }
}

@media screen and (max-width: 767px) {
    .contacts__block_right-title {
        font-size: 14px;
        margin-top: 70px;
    }
}