.contacts__block_right-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    column-gap: 100px;
    row-gap: 100px;
    margin: 35px 0;
}

@media screen and (max-width: 1024px) {
    .contacts__block_right-wrapper {
        column-gap: 10px;
    }
}

@media screen and (max-width: 767px) {
    .contacts__block_right-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0;
        column-gap: 0;
        margin: 0;
    }
}