.contacts__block_right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;
}

@media screen and (max-width: 767px) {
    .contacts__block_right {
        margin: 0;
        margin-top: 30px;
    }
}