.header__logo {
    width: 205px;
    height: 40px;
    padding-left: 30px;
}

@media screen and (max-width: 1450px) {
    .header__logo {
        width: 153px;
        height: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 102px;
        height: 20px;
        position: absolute;
        right: 10px;
    }
}