.header__number {
    display: flex;
    border: 2px solid #191919;
    border-radius: 33px;
    width: 191px;
    height: 40px;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .header__number {
        opacity: 0;
        width: 0;
        height: 0;
    }
}