.header__number-phone {
    text-decoration: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: rgb(0, 0, 0);
    margin: 0;
}

@media screen and (max-width: 767px) {
    .header__number-phone {
        opacity: 0;
        width: 0;
        height: 0;
        font-size: 1px;
        line-height: 1px;
    }
}