.header__booking-button {
    width: 250px;
    height: 40px;
    background-color: rgba(213, 0, 50, 1);
    border-radius: 33px;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__booking-button:hover {
    opacity: .7;
    background-color: white;
    color: black;
    border: 2px solid black;
}

@media screen and (max-width: 767px) {
    .header__booking-button {
        display: none;
    }
}