.contacts__block_left {
    background-image: url(../../../../images/contacts-image.png);
    background-repeat: no-repeat;
    background-size: 915px 870px;
    background-position: center;
    width: 48%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

@media screen and (max-width: 1280px) {
    .contacts__block_left {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    .contacts__block_left {
        width: 100%;
        height: 615px;
        background-size: 660px 615px;
        border-radius: 10px;
        background-position: left;
    }
}