.footer__image-vk {
    /* margin: 0 auto;
    position: absolute;
    padding-top: 280px;
    left: 47%; */
    margin: 20px 50px 0 10px;
}

@media screen and (max-width: 1024px) {
    .footer__image-vk {
        display: none;
    }
}