.card__text-bold {
    font-size: 30px;
    line-height: 94.99%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    position: absolute;
    color: #FFFFFF;
    margin: 16.4% 0 20px 20px;
    padding: 0;
}

@media screen and (max-width: 1520px) {
    .card__text-bold {
        font-size: 23px;
        line-height: 95%;
    }
}

@media screen and (max-width: 1024px) {
    .card__text-bold {
        font-size: 20px;
        line-height: 95%;
    }
}

@media screen and (max-width: 767px) {
    .card__text-bold {
        font-size: 18px;
        line-height: 95%;
        margin: 380px 0 20px 20px;
        display: none;
    }
}