.card__text {
    font-size: 30px;
    line-height: 94.99%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    position: absolute;
    color: #FFFFFF;
    margin: 19.5% 0 20px 20px;
    padding: 0;
}

.card__text-ls {
    margin: 20% 0 20px 20px;
}

.card__text-bs {
    margin: 18% 0 20px 20px;
}

@media screen and (max-width: 1550px) {
    .card__text {
        font-size: 23px;
        line-height: 95%;
    }
}

@media screen and (max-width: 1024px) {
    .card__text {
        font-size: 18px;
        line-height: 95%;
    }
}

@media screen and (max-width: 767px) {
    .card__text {
        font-size: 18px;
        line-height: 95%;
        display: none;
    }
}