.druzhba__info-left-bg {
    background-image: url(../../../images/resto-img.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 85%;
}

@media screen and (max-width: 767px) {
    .druzhba__info-left-bg {
        background-size: 250px 302px;
        background-position: center;
        background-size: 90%;
    }
}