.druzhba__info-wrapper-rev {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .druzhba__info-wrapper-rev {
        flex-direction: column;
        align-items: flex-start;
    }
}