.uniqueness__block {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    padding: 0 50px;
}

@media screen and (max-width: 1580px) {
    .uniqueness__block {
        padding-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    .uniqueness__block {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}