.uniqueness__block {
    display: flex;
    padding-left: 70px;
    margin: 0;
    justify-content: flex-start;
}

@media screen and (max-width: 1580px) {
    .uniqueness__block {
        padding-left: 30px;
    }
}

@media screen and (max-width: 767px) {
    .uniqueness__block {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}