.druzhba__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 280px;
}

@media screen and (max-width: 767px) {
    .druzhba__menu {
        display: none;
    }
}