.uniqueness__block_text {
    font-size: 12px;
    line-height: 16px;

    text-align: justify;
    letter-spacing: -0.01em;
    margin: 0;
    color: #727272;
}

@media screen and (max-width: 767px) {
    .uniqueness__block_text {
        font-size: 10px;
        line-height: 11px;
    }
}