.card_dark {
  filter: grayscale(100%);
}

.card_dark:hover {
  filter: grayscale(0%);
  transition: .8s ease-in-out;
}

@media screen and (max-width: 767px) {
  .card_dark {
      filter: none;
  }
}
