.about {
    background-image: url(../../images/about-img.png);
    background-repeat: no-repeat;
    height: 870px;
    margin: 0 30px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .about {
      display: none;
    }
}