.about-mini {
    display: none;
}

@media screen and (max-width: 767px) {
    .about-mini {
        display: block;
        background-image: url(../../images/about-mini.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 767px;
        height: 615px;
        margin: 0 10px;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
    }
}