.element__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 93px;
    line-height: 86px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 40px 50px;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .element__text {
        font-size: 33px;
        line-height: 90%;
        padding: 0 0 20px 10px;
    }
}