.footer {
    height: 400px;
    background: #D50032;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .footer {
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 100px;
    }
}