.element {
    margin: 0 30px;
    background-image: url(../../images/dvor.png);
    border-radius: 20px;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) {
    .element {
        margin: 0 10px;
        background-position: 50% 100%;
    }
}