.construct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 75px;
}

@media screen and (max-width: 767px) {
    .construct {
      display: flex;
      flex-direction: column-reverse;
      margin: 70px 10px;
    }
}