.card__mini-text {
    display: none;
}

@media screen and (max-width: 767px) {
    .card__mini-text {
        display: block;
        font-size: 18px;
        line-height: 94.99%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #FFFFFF;
        position: absolute;
        padding: 47% 0 0 0;
        margin: 0px 0px 10px 10px;
    }
}