.card__mini {
    display: none;
}

@media screen and (max-width: 767px) {
    .card__mini {
        display: flex;
        margin: 5px 0;
        flex-direction: column;
        width: 95%;
        height: 100%;
    }
}